@media (max-width: 1200px) {
  .hero__content {
    background-position: right top;
  }

  .advantages__descr {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .hero__content {
    background-image: url("../img/hero-768.png");
    background-position: 375px 120px;
    background-size: 330px 350px;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 50px;
  }

  .hero__descr {
    max-width: 345px;
  }

  .hero__btn {
    margin-bottom: 135px;
  }

  .advantages__content {
    padding-bottom: 75px;
  }

  .advantages__image {
    width: 100%;
  }

  .advantages__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .teachers__item {
    margin-bottom: 22px;
  }

  .teachers__content {
    padding-bottom: 28px;
  }

  .courses__item__descr {
    min-height: 376px;
  }

  .courses__btn {
    padding: 20.5px 57px 20.5px 55px;
  }

  .courses__item__duration {
    top: 15px;
    right: 10px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 29px;
    padding-bottom: 30px;
  }
  .header__content {
    flex-direction: column;
  }

  .header__logo {
    display: flex;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .hero__content {
    padding-top: 78px;
    background-image: none;
  }

  .hero__btn {
    margin-bottom: 134px;
  }

  .advantages__content {
    padding-bottom: 55px;
  }

  .advantages__content__first-block {
    align-items: flex-start;
  }

  .advantages__title {
    width: 100%;
  }

  .teachers__content {
    padding-bottom: 52px;
  }

  .teachers__title {
    margin-bottom: 23px;
  }

  .teachers__item {
    margin-bottom: 23px;
  }

  .courses__subtitle {
    line-height: 130%;
  }

  .courses__subtitle:nth-child(4) {
    line-height: 150%;
  }

  .courses__item__descr {
    min-height: 473px;
  }

  .courses__btn {
    padding: 20.5px 48px 20.5px 48px;
  }
}

@media (max-width: 575px) {
  .header {
    padding-top: 26px;
    padding-bottom: 24px;
    overflow: scroll;
  }

  .header__nav {
    overflow-y: hidden;
  }

  .header__nav__list {
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
  }

  .header__logo {
    margin-bottom: 26px;
    padding-left: 98px;
    align-self: flex-start;
  }

  .header__content {
    align-items: center;
  }

  .hero__content {
    padding-top: 50px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .hero__descr {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    margin-bottom: 50px;
    padding: 20px 53px;
    font-size: 16px;
  }

  .advantages__content {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .advantages__image {
    display: none;
  }

  .advantages__title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }

  .advantages__item {
    margin-bottom: 30px;
    flex-direction: row;
    gap: 30px;
  }

  .teachers__content {
    padding-top: 49px;
    padding-bottom: 21px;
  }

  .teachers__title {
    margin-bottom: 25px;
    font-size: 20px;
  }

  .teachers__item {
    gap: 27px;
  }

  .courses__container {
    padding-top: 46px;
    padding-bottom: 22px;
  }

  .courses__title {
    margin-bottom: 25px;
    font-size: 20px;
  }

  .courses__btn {
    padding: 20.5px 55px;
  }
}
